%line
  display: inline-block
  vertical-align: middle
  content: ''
  height: 1px
  width: 24px
  background-color: #fff
%line-plan
  display: inline-block
  vertical-align: middle
  content: ''
  height: 1px
  width: 24px
  background-color: rgb(110, 69, 226)

*, *:after, *:before
  box-sizing: border-box
body
  font-family: 'Maven Pro', sans-serif
.hero
  position: relative

  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  height: 100vh
  padding-bottom: 10px

  background: url('../img/bg-img.jpg') no-repeat center
  background-size: cover
  color: #fff
  &-overlay
    position: absolute
    left: 0
    top: 0
    // bottom: 0
    // right: 0
    z-index: 0

    width: 100%
    height: 100%
    
    background-image: linear-gradient( 150deg, rgb(110,69,226) 0%, rgb(136,211,206)  100%)
    opacity: 0.8
  &-header
    position: relative
    z-index: 1

    display: flex
    justify-content: space-between
    align-items: center
    width: 95%
    height: 25vh  
    &__logo
      // margin-top: 48px
      margin-bottom: 40px
    &__menu
      width: 45%
      ul
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        padding: 0

        list-style-type: none
      li
        // display: inline-block
        // margin-left: -4px
        // padding-bottom: 24px
        // margin-top: 48px
        margin-bottom: 40px
        // padding: 0 24px 24px 24px
      &-link
        padding: 0 10px 20px 10px

        text-decoration: none

        color: #fff
        &:hover
          border-bottom: 1px solid #fff
  &-text
    position: relative
    z-index: 1

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__subtitle
      // display: flex
      // align-items: center
      margin-bottom: 40px
      font-size: 14px
      &::before 
        @extend %line
        margin-right: 15px
      &::after
        @extend %line
        margin-left: 15px
    &__title
      // margin-top: 40px
      // margin-bottom: 20px
      margin: 0

      font-size: 86px
      text-align: center
      // font-size: 60.384px

      // transform: matrix( 1.42422241571191,0,0,1.42422241571191,0,0)
    &__descr
      max-width: 380px

      line-height: 1.75
      text-align: center
  &-arrow
    position: relative
    z-index: 1

    display: flex
    justify-content: center
    align-items: center
    height: 15vh
    &__down
      display: block
      // display: flex
      // justify-content: center
      // align-items: center
      width: 64px
      height: 64px

      line-height: 64px
      text-align: center

      border-radius: 50%
      background-color: #fff
      box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
  
.get-started-btn
  padding: 15px 20px
  margin-left: 10px
  font-size: 12px
  font-weight: bold
  text-transform: uppercase

  border: 1px solid #fff
  border-radius: 50px 

.plan
  // height: 100vh
  padding: 120px 0
  text-align: center

  background-color: #f9fafc
  &-subtitle
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    line-height: 2.286

    color: rgb(159, 164, 175)
    &::after
      @extend %line-plan
      margin-left: 19px
    &::before
      @extend %line-plan
      margin-right: 19px
  &-title
    margin: 0

    font-size: 60px

    color: #4f4f6f
  &-descr
    max-width: 380px
    margin: 0 auto
    margin-bottom: 100px

    font-size: 16px
    line-height: 1.75

    color: rgb(159, 164, 175)
  &-cards
    display: flex
    justify-content: space-evenly
    align-items: center
  &-card
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    width: 300px
    // min-height: 640px
    padding: 65px 0

    background-color: #fff
    border-radius: 30px
    &:hover
      cursor: pointer
      box-shadow: 0px 0px 81.88px 10.12px rgba(204, 204, 223, 0.71)
      transition: all 1.2s
    &__image
      min-height: 113px
      margin-bottom: 50px
    &__subtitle
      // display: block
      // margin-bottom: 50px
      font-size: 14px
      font-weight: bold
      text-transform: uppercase
      line-height: 2.286

      color: rgb(159, 164, 175)
    &__price
      display: flex
      justify-content: center
      align-items: center
      margin: 0

      font-size: 60px

      color: rgb(79, 79, 111)
    &__dollar
      align-self: flex-start
      margin-right: 3px
      
      font-size: 16px
      line-height: 2.7

      color: rgb(79, 79, 111)
    &__month
      align-self: flex-end

      font-size: 18px
      line-height: 2
    &__descr
      min-width: 300px
      margin-bottom: 50px

      font-size: 14px
      line-height: 1.75

      color: rgb(159, 164, 175)
.btn
  // width: 190px
  padding: 0 50px
  
  font-size: 12px
  font-weight: bold
  text-transform: uppercase
  text-decoration: none
  line-height: 2.667

  color: rgb(194, 201, 219)
  background-color: #fff
  border: 1px solid rgb(215, 219, 232)
  border-radius: 50px
  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5) 
  &:hover
    // width: 188px
    cursor: pointer
    background-color: rgb(110, 69, 226)
    color: #fff
    border: 1px solid transparent
    transition: all 1.2s

.control-data
  padding: 180px 0 185px
  text-align: center
  background: url('../img/bg-data.jpg') no-repeat center
  background-size: cover
  color: #fff
  &-subtitle
    margin-bottom: 20px
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    line-height: 2.286
  &-title
    margin: 0
    margin-bottom: 18px
    font-size: 60px
  &-btn
    display: inline-block
    line-height: initial
    padding-top: 20px
    padding-bottom: 20px
    margin-right: 10px

.footer
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  height: 25vh
  // padding: 50px 0 26px
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
    // align-content: flex-start
    flex-wrap: wrap
    width: 95%
    // height: 10vh
  &-logo
    margin-bottom: 20px
  nav
    width: 45%
  &-menu
    display: flex
    // justify-content: space-around
    // display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    padding: 0

    list-style-type: none
    li
      margin-bottom: 20px
    &-link
      padding: 0 10px 20px 10px

      text-decoration: none

      color: #000
      &:hover
        color: rgb(117, 110, 220)
  &-get-started-btn
    padding: 15px 20px

    cursor: pointer
    background-color: rgb(110, 69, 226)
    color: #fff
    border: 1px solid transparent
    &:hover
      color: #fff
  &-line
    width: 100%
    height: 1px
    margin-bottom: 30px

    background-color: rgb(189, 189, 194)
    opacity: 0.2
  &-info
    display: flex
    justify-content: space-between
    width: 100%
  &-copyright
    font-size: 14px
    line-height: 1.357

    color: rgba(106, 106, 119, 0.502)
  &-social
    a
      margin-left: 15px

      line-height: 1.188

      color: rgba(106, 106, 119, 0.502)
.m-menu
  position: fixed
  right: 0
  top: 0
  z-index: 3

  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0
  margin: 0
  height: 100vh
  width: 100%

  font-size: 30px
  line-height: 50px

  background-color: rgb(117, 110, 220)

  list-style-type: none
  transition: 0.2s
  transform: translateX(-100%)
  &__active
    transform: translateX(0%)
  &-link
    display: none
    color: #fff
    font-size: 20px
.close-menu
  position: fixed
  right: 20px
  top: 40px

  font-size: 40px
  font-weight: bold

  color: #fff
  &:hover
    cursor: pointer
@import 'media'